table{
    border-collapse: collapse;
    border:1px silver solid;
}

th{
 border-bottom:1px grey solid;
 border-right:1px grey solid;
    border-left:1px grey solid;
}

td{
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    border-right:1px silver solid;
    border-left:1px silver solid;
    border-bottom:1px silver solid;
}

